body {
    background-color: rgb(240, 255, 241);
    font-family: 'Lato', sans-serif;
    width: 700px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* HEADER SECTION */
header {
    text-align: center;
    width: 750px;
    border-bottom: 5px dotted rgb(203, 202, 202);
}

h1 {
    color: #1e5748;
    font-weight: 700;
    font-size: 3em;
}

h2 {
    color: #3cad91;
    font-weight: 400;
}


/* TABLE 1 SECTION */
.table1 {
    width: 700px;
    height: 300px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.table1Head {
    display: flex;
    justify-content: center;
    background-color: #3cad91;
    color: white;
    padding: .4em;
    font-size: 20px;
}

.table1Body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #236655;
}

.table1Row {
    display: flex;
    justify-content: space-between;
    flex: 1;
    background-color: white;
}

.table1Row:nth-child(2n) {
    background-color: #dae2da;
}

.table1Key {
    border: 1px solid rgb(240, 255, 241);
    flex: 1;
    padding-top: 6px;
    padding-left: 10px;
}

.table1Value {
    border: 1px solid rgb(240, 255, 241);
    flex: 3;
    padding-top: 6px;
    padding-left: 10px;
}


/* TABLE 2 SECTION */
.table2 {
    width: 700px;
    height: 300px;
}